global
log         127.0.0.1 local2 debug
chroot      /var/lib/haproxy
pidfile     /var/run/haproxy.pid
maxconn     4000
user        haproxy
group       haproxy
daemon
stats 	socket 	/var/lib/haproxy/stats
tune.ssl.default-dh-param 1024

defaults
mode                    http
option                  httplog
log                     global
option                  dontlognull
option                  http-server-close
option                  redispatch
retries                 3
timeout http-request    10s
timeout queue           1m
timeout connect         10s
timeout client          1m
timeout server          1m
timeout http-keep-alive 10s
timeout check           10s
maxconn                 3000

frontend frontend-http-https

bind 172.31.29.246:80
bind 172.31.29.246:443 ssl crt /etc/haproxy/ssl

backend backend-everflow
    option forwardfor
    http-response set-header X-Target cleaned
    redirect scheme https if !{ ssl_fc }
    server web-everflow www.pa1ctrk.com:443 check

yvu0.com 271315 271556 271614
vbi5.com 271592 271000 270842 271410 271465
pgf7.com 271476 271466 271468 271606
9toi.com 271482 271366 271616 270249


www.yvu0.com yvu0.com
www.vbi5.com vbi5.com
www.pgf7.com pgf7.com
www.9toi.com 9toi.com


