<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SD4Version</key>
	<string>8.0.10</string>
	<key>SD5ConversionOffered</key>
	<false/>
	<key>SDAddUsedFrameworksOnExport</key>
	<integer>0</integer>
	<key>SDAddUsedLibrariesOnExport</key>
	<integer>0</integer>
	<key>SDAutoIncBuildNumber</key>
	<false/>
	<key>SDAutoIncBuildNumberOnExport</key>
	<false/>
	<key>SDBreakOnExceptions</key>
	<false/>
	<key>SDBreakpointsEnabled</key>
	<true/>
	<key>SDBundleVersion</key>
	<string>2.0</string>
	<key>SDCocoaTermsInProperties</key>
	<true/>
	<key>SDCodesignBundles</key>
	<false/>
	<key>SDCodesignOnlyOnExport</key>
	<false/>
	<key>SDDebuggingEnabled</key>
	<false/>
	<key>SDDocumentVersion</key>
	<integer>841887800</integer>
	<key>SDFolds</key>
	<string>YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVj
dHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwRVSRudWxs0g0O
DxBaTlMub2JqZWN0c1YkY2xhc3OggALSEhMUFVokY2xhc3NuYW1lWCRjbGFzc2Vz
Xk5TTXV0YWJsZUFycmF5oxQWF1dOU0FycmF5WE5TT2JqZWN0CBEaJCkyN0lMUVNX
XWJtdHV3fIeQn6OrAAAAAAAAAQEAAAAAAAAAGAAAAAAAAAAAAAAAAAAAALQ=</string>
	<key>SDFullAppletInfoPlist</key>
	<dict>
		<key>CFBundleIconFile</key>
		<string>applet</string>
		<key>CFBundleIdentifier</key>
		<string>com.mycompany.update-isticles</string>
		<key>CFBundleName</key>
		<string>update isticles</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0</string>
		<key>LNSShowStartupScreen</key>
		<false/>
		<key>LNSStayOpen</key>
		<false/>
		<key>NSAppleEventsUsageDescription</key>
		<string>This script needs to control other applications to run.</string>
		<key>NSAppleMusicUsageDescription</key>
		<string>This script needs access to your music to run.</string>
		<key>NSCalendarsUsageDescription</key>
		<string>This script needs access to your calendars to run.</string>
		<key>NSCameraUsageDescription</key>
		<string>This script needs access to your camera to run.</string>
		<key>NSContactsUsageDescription</key>
		<string>This script needs access to your contacts to run.</string>
		<key>NSHomeKitUsageDescription</key>
		<string>This script needs access to your HomeKit Home to run.</string>
		<key>NSHumanReadableCopyright</key>
		<string>Copyright © 2025 , All Rights Reserved</string>
		<key>NSMicrophoneUsageDescription</key>
		<string>This script needs access to your microphone to run.</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>This script needs access to your photos to run.</string>
		<key>NSRemindersUsageDescription</key>
		<string>This script needs access to your reminders to run.</string>
		<key>NSSiriUsageDescription</key>
		<string>This script needs access to Siri to run.</string>
		<key>NSSystemAdministrationUsageDescription</key>
		<string>This script needs access to administer this system to run.</string>
		<key>OSAAppletShowStartupScreen</key>
		<false/>
		<key>OSAAppletStayOpen</key>
		<false/>
		<key>WindowState</key>
		<dict>
			<key>bundleDividerCollapsed</key>
			<true/>
			<key>bundlePositionOfDivider</key>
			<real>0.0</real>
			<key>dividerCollapsed</key>
			<false/>
			<key>eventLogLevel</key>
			<integer>2</integer>
			<key>name</key>
			<string>ScriptWindowState</string>
			<key>positionOfDivider</key>
			<real>333</real>
			<key>savedFrame</key>
			<string>609 261 602 597 0 0 1680 1027 </string>
			<key>selectedTab</key>
			<string>result</string>
		</dict>
	</dict>
	<key>SDHideCodeFolding</key>
	<false/>
	<key>SDMakeScriptsRunOnlyOnExport</key>
	<integer>0</integer>
	<key>SDWindowState</key>
	<dict>
		<key>eventLogWindow</key>
		<dict/>
		<key>resultWindow</key>
		<dict/>
		<key>traceDelay</key>
		<real>0.80000001192092896</real>
		<key>viewControllers</key>
		<dict>
			<key>7244461E-3A39-4FC2-8097-6AD60EDD0A61-6022-000003B51DB93396</key>
			<dict>
				<key>debuggerViewState</key>
				<dict>
					<key>expressionsState</key>
					<dict>
						<key>dividerPos</key>
						<real>150</real>
						<key>scope2.changedItems</key>
						<true/>
						<key>scope2.emptyElements</key>
						<false/>
						<key>scope2.filledElements</key>
						<true/>
						<key>scope2.props</key>
						<true/>
						<key>scope2.unchangedItems</key>
						<true/>
						<key>showScopeBar</key>
						<false/>
					</dict>
					<key>heights4</key>
					<dict>
						<key>positions</key>
						<dict>
							<key>3</key>
							<array>
								<integer>218</integer>
								<integer>278</integer>
								<integer>109</integer>
							</array>
							<key>5</key>
							<array>
								<integer>251</integer>
								<integer>102</integer>
								<integer>319</integer>
								<integer>83</integer>
								<integer>126</integer>
							</array>
						</dict>
					</dict>
					<key>resultState</key>
					<dict>
						<key>explorerState</key>
						<dict>
							<key>dividerPos</key>
							<real>150</real>
							<key>scope2.changedItems</key>
							<true/>
							<key>scope2.emptyElements</key>
							<false/>
							<key>scope2.filledElements</key>
							<true/>
							<key>scope2.props</key>
							<true/>
							<key>scope2.unchangedItems</key>
							<true/>
							<key>showScopeBar</key>
							<true/>
						</dict>
						<key>modes</key>
						<array>
							<string>mode.best</string>
						</array>
						<key>positions2</key>
						<dict>
							<key>positions</key>
							<dict/>
						</dict>
						<key>prettyPrint</key>
						<false/>
					</dict>
					<key>stackVisible</key>
					<false/>
					<key>variablesState</key>
					<dict>
						<key>dividerPos</key>
						<real>150</real>
						<key>scope2.changedItems</key>
						<true/>
						<key>scope2.emptyElements</key>
						<false/>
						<key>scope2.filledElements</key>
						<true/>
						<key>scope2.props</key>
						<true/>
						<key>scope2.unchangedItems</key>
						<true/>
						<key>showScopeBar</key>
						<false/>
					</dict>
				</dict>
				<key>eventLogHeight</key>
				<real>174.5</real>
				<key>inspectorsViewState</key>
				<dict>
					<key>applications</key>
					<dict>
						<key>dividerPos2</key>
						<real>144</real>
						<key>searchFlags</key>
						<integer>167784318</integer>
					</dict>
					<key>clippings</key>
					<dict/>
					<key>heights3</key>
					<dict>
						<key>positions</key>
						<dict>
							<key>3</key>
							<array>
								<integer>320</integer>
								<integer>292</integer>
								<integer>289</integer>
							</array>
						</dict>
					</dict>
					<key>tellContext</key>
					<dict>
						<key>explorer</key>
						<dict>
							<key>dividerPos</key>
							<real>291</real>
							<key>scope2.changedItems</key>
							<true/>
							<key>scope2.emptyElements</key>
							<false/>
							<key>scope2.filledElements</key>
							<true/>
							<key>scope2.props</key>
							<true/>
							<key>scope2.unchangedItems</key>
							<true/>
							<key>showScopeBar</key>
							<true/>
						</dict>
					</dict>
				</dict>
				<key>mainSplit%</key>
				<real>0.74010634422302246</real>
				<key>mainSplitPosition</key>
				<real>440</real>
				<key>modeIdentifier</key>
				<string>tab.debug</string>
				<key>resourcesViewState</key>
				<dict>
					<key>heights2</key>
					<dict>
						<key>positions</key>
						<dict>
							<key>2</key>
							<array>
								<integer>328</integer>
								<integer>624</integer>
							</array>
							<key>3</key>
							<array>
								<integer>176</integer>
								<integer>335</integer>
								<integer>343</integer>
							</array>
						</dict>
					</dict>
					<key>resources</key>
					<dict>
						<key>expanded</key>
						<array/>
						<key>selection</key>
						<array/>
					</dict>
				</dict>
				<key>scriptViewState</key>
				<dict>
					<key>editorState</key>
					<dict>
						<key>LNSSelection</key>
						<array>
							<dict>
								<key>length</key>
								<integer>0</integer>
								<key>location</key>
								<integer>4408</integer>
							</dict>
						</array>
						<key>LNSTextViewShowInvisibles</key>
						<false/>
						<key>LNSTextViewShowSpaces</key>
						<false/>
						<key>LNSTextViewShowTabStops</key>
						<false/>
						<key>LNSTextViewWrapLines</key>
						<false/>
						<key>LNSVisibleRect</key>
						<string>{{0, 0}, {1207, 603}}</string>
						<key>ShowLineNumbers</key>
						<false/>
						<key>showCodeCoverage</key>
						<false/>
					</dict>
					<key>instanceID</key>
					<string>168A8579-460D-43BB-AE3D-2FAD68C82F4D-10293-000061B6ED6958A0</string>
					<key>resultBarVisible</key>
					<false/>
					<key>showProgressBar</key>
					<true/>
				</dict>
				<key>showEventLog</key>
				<false/>
				<key>tabHeights</key>
				<dict>
					<key>tab.bps</key>
					<real>433</real>
					<key>tab.debug</key>
					<real>439</real>
					<key>tab.rsrcs</key>
					<real>433</real>
				</dict>
				<key>tabsHidden</key>
				<false/>
				<key>windowControllerID</key>
				<string>7244461E-3A39-4FC2-8097-6AD60EDD0A61-6022-000003B51DB93396</string>
				<key>windowFrame</key>
				<string>-577 1121 1693 690 -994 982 3440 1415 </string>
			</dict>
		</dict>
		<key>windowControllers</key>
		<array>
			<dict>
				<key>controllerClass</key>
				<string>SD8ScriptWindowController</string>
				<key>controllerID</key>
				<string>7244461E-3A39-4FC2-8097-6AD60EDD0A61-6022-000003B51DB93396</string>
				<key>controllerState</key>
				<dict>
					<key>miniaturized</key>
					<false/>
					<key>timerShowsDetail</key>
					<false/>
					<key>windowFrame</key>
					<string>-577 1121 1693 690 -994 982 3440 1415 </string>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
